
.chat{/* 
    position: fixed;
    right: 0;
    top: 0; */
    border: 3px dotted blue;
}

.sidebar {
    /* position: fixed;
    right:0;
    top:0; */
    z-index: 401;
    width: 300px;
    height: 100vh;
    background: #363638;
    color: #fff;
    transition: all 0.3s;
    margin-right: 0; 
}

.sidebarCollapse{
    z-index: 99;
    position: absolute;
    margin-left: -210px;
}

.sidebar.active {
    right: -300px;
}

.chatSelector{
    color: #ffffff;
}

.chatActive{
    text-decoration: underline;
}


.chatSelector:hover{
    cursor: pointer;
}
.chatHeader{
    height: 40px;
}

.chatOuterBody{
    position: relative;
   	height: 214px;
   	overflow: hidden;
}
.chatBody{
    width: 100%;
    overflow: auto;
    height: 100%;
    display: inline-block;
    width: 300px;
    font-size: 0.8em;
    text-align: left;
}

.username{
    color: rgb(218, 114, 29);
}

.chatBody::-webkit-scrollbar{
    display: none;
}
#notification{
    width: 20px;
    padding-top: 22px;
    margin-left: -215px;
    z-index: 100;
}