.Card{
    box-shadow: 0 0 5px rgba(0, 0, 0, .35);
    padding: 10px;
    width: 80%;
    
}
.gdCard{
    box-shadow: 0 0 5px rgba(0, 0, 0, .35);
    padding: 10px;
}

.Card:hover{
    cursor: pointer;
}

.gdCard:hover{
    cursor: pointer;
}

.Card > img {
    display: block;
}

.gdCard > img {
    display: block;
}

.Cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

h3{
    text-align: center;
}

.mapInfoBox {
    width: 96%;
    margin-left: 2px;
}