@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #404042 !important;
  color: whitesmoke !important;
  text-align: center !important;
  font-family: 'Poppins', sans-serif;
}

.topBannerGreen{
  position: fixed;
  width: 100%;
  background-color: green;
}
.topBannerRed{
  position: fixed;
  width: 100%;
  background-color: #D72828;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

Nav{
  position: sticky;
  top: 0;
  left: 0;
}

.chat{
  position: fixed;
  top: 0;
  right: 0;
}

.sticky{
  position: relative;
  overflow: auto;
  width: 100%;
  align-items: stretch;
}


.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.btn{
  border: 1px solid whitesmoke !important;
  background-color: #29292b !important;
  color: whitesmoke !important;
}

.gameTitleCard{
  width: 70%;
}

input, textarea{
  border: 0;
  border-radius: 5px;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

u{
  cursor: pointer;
}

.baseDiv{
  width: 100%;
}


/* Scrollbar width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(156, 156, 156, 0.5);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(170, 170, 170);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


@media (max-width: 768px) {
  h1{
    padding-top: 50px;
  }
}