#mapid {
    height: 300px;
    width: 700px;
}

#faction_type {
    padding-right: 10px;
}

#mission_description {
    height: 100px;
    width: 200px;
}
.map{
    z-index: 1 !important;
}
.leaflet-top,.leaflet-bottom{
    z-index: 1 !important;
}

CreateMissionModal{
    z-index: 1000;
}

.backdropStyle{
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0,3);
    padding: 50;
    z-index: 99;
}
.modalStyle{
    background-color: rgb(252, 249, 249);
    border-radius: 5;
    color: black;
    position: fixed;
    bottom: 0;
    width: 500 !important;
    min-height: 300;
    margin: 0 auto;
    padding: 30;
    z-index: 100;
}

.container{
    padding: 15px;
    width: 80;
}

#info-title {
    font-size: 120%;
    font-weight: bold;
}
/* 
#button-style {
    font-size: 12px;
} */

#button-style {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
    font-weight:bold;
    width: 133px;
	padding:7px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}