#sidebar {
    z-index: 100;
    width: 250px;
    height: 100vh;
    background: #29292b;
    color: #fff;
    transition: all 0.3s;
    margin-right: 0; 
}

#sidebarCollapse{
  position: absolute;
  margin-left: 125px;
}


nav{
  width: 300px;
}
#sidebar.active {
    margin-left: -250px;
}
  
li{
  font-size: 1.2em;
}
